@model EnFantastiskBlogg.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="">

    <h1 class="text-center">Hei, du!</h1>

    <div class="row" >
        <div class="col-9">
            @foreach (var post in Model.Posts)
            {
                <div class="card mb-3" >
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="https://www.treehugger.com/thmb/QolJfOYFmxwIH6Sxv5SBqY8Kq-M=/1885x1414/smart/filters:no_upscale()/GettyImages-1273584292-cbcd5f85f4c646d58f7a7fa158dcaaeb.jpg" class="img-fluid rounded-start " alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body card-body">
                            <h5 class="card-title">@post.Title</h5>
                            <p class="card-text">@post.Body</p>
                            <p class="card-text"><small class="text-muted">Last updated on @post.UpdatedDate</small></p>
                            <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.PostId">Details</a> |
                        </div>
                    </div>
                </div>
            </div>
            }
            

        </div>

        <div class="col-3">
            <div class="card mb-3">
                <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/portrait-of-smiling-redhead-woman-leaning-on-railing-at-sunset-cavan-images.jpg" class="card-img-top img-fluid rounded-start" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Newsletter</h5>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">Vi skal aldri dele e-mailen din med noen andre.</small>
                            <div class="form-group">
                                <input type="submit" value="Sign Up" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
